services:
  product-db:
    image: postgres:16
    container_name: product-db
    environment:
      POSTGRES_USER: product_user
      POSTGRES_PASSWORD: product_password
      POSTGRES_DB: product_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U product_user"]
      interval: 3s
      timeout: 5s
      retries: 5
    networks:
      - ecommerce-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: product-elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    networks:
      - ecommerce-network

  product-service:
    build: .
    container_name: product-service
    depends_on:
      product-db:
        condition: service_healthy
      elasticsearch:
        condition: service_started
    environment:
      DATABASE_URL: postgresql+psycopg2://product_user:product_password@product-db:5432/product_db
      ELASTICSEARCH_URL: http://elasticsearch:9200
    ports:
      - "8000:8000"
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge
